body{
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

#form{
    padding-top: 35px;
    float: right;
    padding-right: 15px;
}


nav{
    background-color: black;
    max-width: 250px;
    margin: 0px;
}

nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

nav>ul>li{
    margin-top: 2px;
    float: left;
    background-color: white;
    opacity: 0.2;
    width: 250px;
    padding-left: 15px;
}

nav>ul>li>a{
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top:63px;
    padding-bottom:63px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    width: 200px;
}

nav>ul>li>a:hover{
    color: deepskyblue;
    opacity: 0.5;
}

nav>ul>li:hover{
    opacity: 0.8;
    background-color: lightgray;
}

header{
    height: 120px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkslategrey;
}

#logo{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    float: left;
    margin-right: 8px;
}

#pagetitle{
    height: 60px;
}

#logout{
    padding-top: 35px;
    float: right;
    padding-right: 15px;
}

#logout>form>label{
    display: block;
    width: 100px;
    margin-right: 0px;
    float: left;
    padding: 3px 6px;
    font-size: 14pt;
    color: white;
}

#logoutbutton{
    width: 70px;
    background-color: #999999;
    border: 2px solid lightgray;
    border-radius: 7px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 0px;
}
#logoutbutton:hover{
    background-color: lightgray;
    color: black;
}

#pagetitle{
    padding-top: 10px;
    padding-left: 0px;
}
#pagetitle>h4{
    color: white;
    font-size: 35pt;
    margin-left: 5px;
    margin-top: 28px;
    margin-bottom: -25px;
}
#pagetitle>p{
    color: white;
    font-size: 14pt;
    margin-left: 5px;
}

#usernamebox{
    width: 130px;
    margin-right: 3px;
    float: left;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 7px;
}

#passwordbox{
    width: 130px;
    margin-right: 3px;
    float: left;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 7px;
}

#loginb{
    width: 70px;
    background-color: #999999;
    border: 2px solid lightgray;
    border-radius: 7px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 0px;
}

label{
    width: 288px;
    display: block;
    float: left;
    padding-top: 20px;
}

input[type=text]{
    width: 480px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 7px;
    font-size: 11pt;
}

input[type=text]:focus {
    border: 3px solid lightskyblue;
    background-color: aliceblue;
}

input[type=password]{
    width: 480px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 7px;
}
input[type=password]:focus {
    border: 3px solid lightskyblue;
    background-color: aliceblue;
}

#login{
    border-radius: 7px;
    border: 1px solid black;
    padding-bottom: 10px;
    background-color: RGBa(128, 128, 128, 0.2);
}

select{
    width: 480px;
    padding: 12px 20px;
    padding-left: 50px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 7px;
    font-size: 12pt;
}
select:focus {
    border: 3px solid lightskyblue;
    background-color: aliceblue;
}

input[type=submit] {
    background-color: lightskyblue;
    border: none;
    color: darkslategray;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    width: 300px;
    margin-right: 0px;
    float: right;
}

section{
    margin-left: 65px;
    padding-top: 100px;
}

#intro{
    background-color: RGBa(128, 128, 128, 0.2);
    margin-top: 150px;
    margin-left: 30px;

}

#intro th{
    font-size: 33pt;
}

#intro caption{
    font-size: 26pt;
}

#bookingdetails{
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    background-color: RGBa(128, 128, 128, 0.2);
}

#bookingdetails * #pin{
    margin-top: 2px;
    margin-bottom: 2px;
}

#pins > td{
    margin-top: 2px;
    margin-bottom: 2px;
    border: solid 1px black;
    border-radius: 3px;
}

#pind > td{
    margin-top: 2px;
    margin-bottom: 2px;
    border: solid 2px black;
}

#search{
    background-color: white;
    margin-right: 15px;
    border: 2px black solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#bookingdetails td{
    padding: 15px;
    font-size: 13pt;
}

#bookingdetails #o {
    border-bottom: black 1px solid;
}