body{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 1020px;
    height: 80px;
    background-color: darkslategray;
    background-image: url("images/samphire-banner.PNG");
    background-size: 1020px 80px;
}

#logo{
    height: 80px;
    float: left;
    margin-right: 8px;
}
#pagetitle{
    height: 60px;
}
#form{
    padding-top: 35px;
    float: right;
    padding-right: 15px;
}
#pagetitle{
    padding-top: 10px;
    padding-left: 0px;
}
#pagetitle>h4{
    color: white;
    font-size: 18pt;
    margin-left: 5px;
    margin-top: 18px;
    margin-bottom: -25px;
}
#pagetitle>p{
    color: white;
    font-size: 14pt;
    margin-left: 5px;
}

#usernamebox{
    width: 130px;
    margin-right: 3px;
    float: left;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 7px;
}

#passwordbox{
    width: 130px;
    margin-right: 3px;
    float: left;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 7px;
}

#loginb{
    width: 70px;
    background-color: #999999;
    border: 2px solid lightgray;
    border-radius: 7px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 0px;

}

#bannerbox{
    width: 1020px;
    height: 400px;
    border: solid 1px white;
    border-radius: 7px;
}

#bannerimage{
    width: 1020px;
    height: 400px;
    border: solid 1px white;
    border-radius: 4px;
}

#syscon{
    width:960px;
    margin-top: 5px;
    background-color: aliceblue;
    padding: 20px;
    padding-left: 40px;
    border: solid 1px white;
    border-radius: 10px;
}

#search {
    margin-left: 90px;
    margin-right: 95px;
}

input[type=date]{
    width: 480px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 7px;
}
input[type=date]:focus {
    border: 3px solid lightskyblue;
    background-color: aliceblue;
}

select{
    width: 480px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 7px;
}
select:focus {
    border: 3px solid lightskyblue;
    background-color: aliceblue;
}

label{
    width: 288px;
    display: block;
    float: left;
    padding-top: 20px;
}

input[type=submit] {
    background-color: lightskyblue;
    border: none;
    color: darkslategray;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    width: 350px;
    margin-right: 0px;
    float: right;
}


