body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header{
    width:960px;
    height: 70px;
    background-color: darkslategray;
}

#login{
    float: right;
}

#username{
    width: 100px;
    float: none;
}

#usernamebox{
    width: 180px;
}

#password{
    width: 100px;
    float: none;
}

#passwordbox{
    width: 180px;
}

#loginb{
    width: 100px;
    background-color: #999999;
    border: 1px solid;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 0px;

}

#syscon{
    width:960px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    padding: 20px;
    padding-left: 40px;
}

form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

input[type=date]{
    width: 480px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 7px;
}
input[type=date]:focus {
    border: 3px solid lightskyblue;
    background-color: aliceblue;
}

select{
    width: 480px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 7px;
}
select:focus {
    border: 3px solid lightskyblue;
    background-color: aliceblue;
}

label{
    width: 288px;
    display: block;
    float: left;
    padding-top: 20px;
}

input[type=submit] {
    background-color: lightskyblue;
    border: none;
    color: darkslategray;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    width: 350px;
    margin-right: 192px;
    float: right;
}


