body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 980px;
    height: 70px;
    margin-bottom: 3px;
    padding-right: 40px;
    background-color: darkslategray;
    background-image: url("images/samphire-banner.PNG");
}

#logo{
    height: 70px;
}

#login{
    margin-top: 20px;
    float: right;
}

#usernamebox{
    width: 150px;
    margin-right: 3px;
    float: left;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 7px;
}

#passwordbox{
    width: 150px;
    margin-right: 3px;
    float: left;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 7px;
}

#loginb{
    width: 80px;
    background-color: #999999;
    border: 1px solid;
    border-radius: 7px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 0px;

}

#syscon{
    width:960px;
    background-color: aliceblue;
    padding: 20px;
    padding-left: 40px;
}

#search {
    margin-left: 90px;
    margin-right: 95px;
}

input[type=date]{
    width: 480px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 7px;
}
input[type=date]:focus {
    border: 3px solid lightskyblue;
    background-color: aliceblue;
}

select{
    width: 480px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 7px;
}
select:focus {
    border: 3px solid lightskyblue;
    background-color: aliceblue;
}

label{
    width: 288px;
    display: block;
    float: left;
    padding-top: 20px;
}

input[type=submit] {
    background-color: lightskyblue;
    border: none;
    color: darkslategray;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    width: 350px;
    margin-right: 0px;
    float: right;
}


