body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#syscon{

}

input[type=date]{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 10%;
    float: left;
}

select{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 10%;
    float: left;
}

label{
    width: 40%;
    display: block;
}